    body {
        background-color: darkgray;
        background-image: url(pozadina.jpg);
        background-size: 30em;
    }
    
    .sve {
        width: 50%;
        margin: auto;
        background-color: rgb(231, 225, 225);
        padding: 4em;
        margin-top: 5em;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .slika {
        height: 15em;
    }
    
    .naslov {
        font-size: 3em;
        margin: 0px;
        padding: 0px;
        background: url(brush.png);
        background-repeat: no-repeat;
        background-size: 100% 95%;
        padding: 8px 0;
        display: inline-block;
    }
    
    a {
        color: black;
        text-decoration: none;
    }
    
    a:hover {
        position: relative;
        left: -5px;
        color: rgb(116, 10, 10);
        font-weight: bold;
    }
    
    .podnaslov {
        color: darkred;
    }
    
    li {
        list-style-type: none;
    }
    
    ul {
        padding-inline-start: 0px;
    }
